@page "/Error"
@using System.Diagnostics

<PageTitle>Erro</PageTitle>

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua requisição.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>ID da Requisição:</strong> <code>@requestId</code>
    </p>
}

<h3>Modo de Desenvolvimento</h3>
<p>
    Alternar para o ambiente de <strong>Desenvolvimento</strong> exibirá informações mais detalhadas sobre o erro ocorrido.
</p>
<p>
    <strong>O ambiente de Desenvolvimento não deve ser habilitado para aplicações implantadas.</strong>
    Isso pode resultar na exibição de informações sensíveis de exceções para usuários finais.
    Para depuração local, habilite o ambiente de <strong>Desenvolvimento</strong> definindo a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> como <strong>Development</strong>
    e reiniciando a aplicação.
</p>

@code{
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    private string? requestId;
    private bool ShowRequestId => !string.IsNullOrEmpty(requestId);

    protected override void OnInitialized()
    {
        requestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
    }
}
